<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension id="com.company1c.link.ide.edt.fragment" point="org.eclipse.e4.workbench.model">
      <fragment apply="notexists" uri="fragment.e4xmi"></fragment>
   </extension>

	<extension point="org.eclipse.core.variables.valueVariables">
		<variable name="link_version" initialValue="3.0"></variable>
	</extension>
   
   <!-- Web server publish delegates --> 
   <extension id="LinkEdtSupport" point="com._1c.g5.v8.dt.platform.services.core.webServerPublishDelegates">
      <delegate class="com.company1c.link.ide.edt.LinkPublishDelegate">
        <supportedWebServerType webServerType="com.company1c.link.webServer"/>
        <runtime>
           <since value="com._1c.g5.v8.dt.platform.runtime.8.3.8"/>
        </runtime>
      </delegate>
   </extension>
   <!-- supportedWebServerType webServerType="com._1c.g5.v8.dt.platform.services.core.webServerType.Apache.2.4"/ -->
   <extension point="com._1c.g5.v8.dt.platform.services.core.webServerCategories">
      <category id="com.company1c.link" name="%plugin.extensions.webServerCategories.category.name"></category>
   </extension>
   <!--
   <extension point="com._1c.g5.v8.dt.platform.services.core.webServerTypes">
      <type
            category="com.company1c.link"
            id="com._1c.g5.v8.dt.platform.services.core.webServerType.Apache.2.4"
            isAddable="true"
            version="3.0">
      </type>
   </extension>
   -->
   <extension point="com._1c.g5.v8.dt.platform.services.core.webServerTypes">
      <type
            category="com.company1c.link"
            id="com.company1c.link.webServer"
            isAddable="false"
            version="%plugin.extensions.webServerTypes.type.version">
      </type>
   </extension>
   <extension point="com._1c.g5.v8.dt.platform.services.core.webServerLookups">
      <lookup class="com.company1c.link.ide.edt.LinkServerRegistrator"></lookup>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page 
         class="com.company1c.link.ide.edt.parts.LinkPrefPage"
         id="com.company1c.link.agent"
         category="com._1c.g5.v8.dt.ui.V8"
         name="%prefs.title.1clink">
      </page>
   </extension>
</plugin>
