<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    
    <extension point="org.eclipse.core.resources.markers" id="com.e1c.edt.ai.AIError">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <marker
            type="com.e1c.edt.ai.AIError"
            name="AI Error"
            persistent="false">
        </marker>
    </extension>
    <extension point="org.eclipse.core.resources.markers" id="com.e1c.edt.ai.AIWarning">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <marker
            type="com.e1c.edt.ai.AIWarning"
            name="AI Warning"
            persistent="false">
        </marker>
    </extension>
    <extension point="org.eclipse.core.resources.markers" id="com.e1c.edt.ai.AIInfo">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <marker
            type="com.e1c.edt.ai.AIInfo"
            name="AI Info"
            persistent="false">
        </marker>
    </extension>
    
    <extension point="org.eclipse.ui.editors.annotationTypes">
        <type
            name="com.e1c.edt.ai.marker.error"
            markerType="com.e1c.edt.ai.AIError"
            super="org.eclipse.ui.workbench.texteditor.error">
        </type>
        <type
            name="com.e1c.edt.ai.marker.warning"
            markerType="com.e1c.edt.ai.AIWarning"
            super="org.eclipse.ui.workbench.texteditor.warning">
        </type>
        <type
            name="com.e1c.edt.ai.marker.info"
            markerType="com.e1c.edt.ai.AIInfo"
            super="org.eclipse.ui.workbench.texteditor.info">
        </type>
    </extension>
    
    <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
        <specification
              annotationType="com.e1c.edt.ai.marker.error"
              label="AI Error">
            <visibility
                verticalRuler="true"
                overviewRuler="true"
                text="true">
            </visibility>
        </specification>
        <specification
              annotationType="com.e1c.edt.ai.marker.warning"
              label="AI Warning">
            <visibility
                verticalRuler="true"
                overviewRuler="true"
                text="true">
            </visibility>
        </specification>
        <specification
              annotationType="com.e1c.edt.ai.marker.info"
              label="AI Info">
            <visibility
                verticalRuler="true"
                overviewRuler="true"
                text="true">
            </visibility>
        </specification>
    </extension>

    <extension point="org.eclipse.ui.trace.traceComponents">
      <component
            id="com.e1c.edt.ai"
            label="%traceName">
         <bundle
               consumed="true"
               name="com.e1c.edt.ai.ui" />         
      </component>
    </extension>

    <extension
            point="org.eclipse.ui.views">
        <category
                id="com.e1c.edt.ai.ui"
                name="%category.name"
                parentCategory="com._1c.g5.v8.dt.ui.v8category">
        </category>
        <view
                category="com.e1c.edt.ai.ui"
                class="com.e1c.edt.ai.ui.ChatView"
                icon="icons/obj16/ai.png"
                id="com.e1c.edt.ai.ui.views.ChatView"
                inject="true"
                name="%view.name">
        </view>
    </extension>

    <extension
            point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
                targetID="*">
            <view
                    id="com.e1c.edt.ai.ui.views.ChatView"
                    relationship="stack"
                    relative="org.eclipse.ui.views.PropertySheet">
            </view>
        </perspectiveExtension>
    </extension>

    <extension
            point="org.eclipse.ui.quickAccess">
        <computer
                class="com.e1c.edt.ai.ui.quickaccess.AskAIQuickAccessComputer"
                name="%computer.name">
        </computer>
    </extension>

    <extension
            point="org.eclipse.ui.commands">
        <category
                id="com.e1c.edt.ai.ui.commands.category.ai"
                name="%category.name">
        </category>
        <command
                categoryId="com.e1c.edt.ai.ui.commands.category.ai"
                id="com.e1c.edt.ai.ui.commands.suggest.ai"
                name="%command.name.suggest">
        </command>
        <command
                categoryId="com.e1c.edt.ai.ui.commands.category.ai"
                id="com.e1c.edt.ai.ui.commands.accept.ai"
                name="%command.name.accept">
        </command>
        <command
                categoryId="com.e1c.edt.ai.ui.commands.category.ai"
                id="com.e1c.edt.ai.ui.commands.acceptpart.ai"
                name="%command.name.acceptpart">
        </command>
        <command
                categoryId="com.e1c.edt.ai.ui.commands.category.ai"
                id="com.e1c.edt.ai.ui.commands.acceptline.ai"
                name="%command.name.acceptline">
        </command>
        <command
                categoryId="com.e1c.edt.ai.ui.commands.category.ai"
                id="com.e1c.edt.ai.ui.commands.rollbackpart.ai"
                name="%command.name.rollbackpart">
        </command>
        <command
                categoryId="com.e1c.edt.ai.ui.commands.category.ai"
                id="com.e1c.edt.ai.ui.commands.stop.ai"
                name="%command.name.stop">
        </command>
        <command
              categoryId="com.e1c.edt.ai.ui.commands.category.ai"
              id="com.e1c.edt.ai.ui.commands.explain.ai"
              name="%command.name.explain">
        </command>
        <command
              categoryId="com.e1c.edt.ai.ui.commands.category.ai"
              id="com.e1c.edt.ai.ui.commands.criticise.ai"
              name="%command.name.critic">
        </command>
        <command
              categoryId="com.e1c.edt.ai.ui.commands.category.ai"
              id="com.e1c.edt.ai.ui.commands.fixcode.ai"
              name="%command.name.fixcode">
        </command>
        <command
              categoryId="com.e1c.edt.ai.ui.commands.category.ai"
              id="com.e1c.edt.ai.ui.commands.generatedoccomments.ai"
              name="%command.name.generatedoccomments">
        </command>
        <command
              categoryId="com.e1c.edt.ai.ui.commands.category.ai"
              id="com.e1c.edt.ai.ui.commands.addcode.ai"
              name="%command.name.addcode">
        </command>
        <command
              categoryId="com.e1c.edt.ai.ui.commands.category.ai"
              id="com.e1c.edt.ai.ui.commands.addfile.ai"
              name="%command.name.addfile">
        </command>
        <command
              categoryId="com.e1c.edt.ai.ui.commands.category.ai"
              id="com.e1c.edt.ai.ui.commands.feedback.ai"
              name="%command.name.feedback">
        </command>
        <command
                id="com.e1c.edt.ai.ui.inlinedAnnotations.ai"
                name="Аннотации">
        </command>
        <command
                categoryId="com.e1c.edt.ai.ui.commands.category.ai"
                id="com.e1c.edt.ai.ui.commands.addfilestochat.ai"
                name="%command.label.addfilestochat">
        </command>
		<command
				categoryId="com.e1c.edt.ai.ui.commands.category.ai"
				id="com.e1c.edt.ai.ui.commands.sessionexpiration.ai"
				name="Session Expiration">
		</command>
		<command
				categoryId="com.e1c.edt.ai.ui.commands.category.ai"
				id="com.e1c.edt.ai.ui.commands.sessionexpiredstream.ai"
				name="Session Expired Stream">
		</command>
		<command
				categoryId="com.e1c.edt.ai.ui.commands.category.ai"
				id="com.e1c.edt.ai.ui.commands.tokennotfound.ai"
				name="Token Not Found">
		</command>
        <command
                categoryId="com.e1c.edt.ai.ui.commands.category.ai"
                id="com.e1c.edt.ai.ui.commands.stopscenarios.ai"
                name="Stop Scenarios">
        </command>
        <command
                categoryId="com.e1c.edt.ai.ui.commands.category.ai"
                id="com.e1c.edt.ai.ui.commands.servererror.ai"
                name="Server Error">
        </command>
        <command
                categoryId="com.e1c.edt.ai.ui.commands.category.ai"
                id="com.e1c.edt.ai.ui.commands.sslerror.ai"
                name="SSL Error">
        </command>
        <command
              categoryId="com.e1c.edt.ai.ui.commands.category.ai"
              id="com.e1c.edt.ai.ui.commands.openChatView.ai"
              name="%command.name.openChatView">
        </command>
    </extension>

    <extension point="org.eclipse.ui.bindings">
        <key sequence="Ctrl+Alt+Space"
             commandId="com.e1c.edt.ai.ui.commands.suggest.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="Alt+I E"
             commandId="com.e1c.edt.ai.ui.commands.explain.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="Alt+I R"
             commandId="com.e1c.edt.ai.ui.commands.criticise.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="Alt+I C"
             commandId="com.e1c.edt.ai.ui.commands.fixcode.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="Alt+I G"
             commandId="com.e1c.edt.ai.ui.commands.generatedoccomments.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="Alt+I A"
             commandId="com.e1c.edt.ai.ui.commands.addcode.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="Alt+I F"
             commandId="com.e1c.edt.ai.ui.commands.addfile.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="Alt+I B"
             commandId="com.e1c.edt.ai.ui.commands.feedback.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="Ctrl+Enter"
             commandId="com.e1c.edt.ai.ui.commands.accept.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="Tab"
             commandId="com.e1c.edt.ai.ui.commands.acceptpart.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="Ctrl+Alt+Enter"
             commandId="com.e1c.edt.ai.ui.commands.acceptline.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key sequence="ESC"
             commandId="com.e1c.edt.ai.ui.commands.stop.ai"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    </extension>

    <extension
            point="org.eclipse.ui.handlers">
        <handler
                class="com.e1c.edt.ai.ui.handlers.ExplainAIHandler"
                commandId="com.e1c.edt.ai.ui.commands.explain.ai">
        </handler>
        <handler
                class="com.e1c.edt.ai.ui.handlers.CriticiseAIHandler"
                commandId="com.e1c.edt.ai.ui.commands.criticise.ai">
        </handler>
        <handler
                class="com.e1c.edt.ai.ui.handlers.FixCodeAIHandler"
                commandId="com.e1c.edt.ai.ui.commands.fixcode.ai">
        </handler>
        <handler
                class="com.e1c.edt.ai.ui.handlers.GenerateDocCommentsAIHandler"
                commandId="com.e1c.edt.ai.ui.commands.generatedoccomments.ai">
        </handler>
        <handler
                class="com.e1c.edt.ai.ui.handlers.AddCodeAIHandler"
                commandId="com.e1c.edt.ai.ui.commands.addcode.ai">
        </handler>
        <handler
                class="com.e1c.edt.ai.ui.handlers.AddFileAIHandler"
                commandId="com.e1c.edt.ai.ui.commands.addfile.ai">
        </handler>
        <handler
                class="com.e1c.edt.ai.ui.handlers.FeedbackAIHandler"
                commandId="com.e1c.edt.ai.ui.commands.feedback.ai">
        </handler>
        <handler
                class="com.e1c.edt.ai.ui.handlers.AddFilesToChatHandler"
                commandId="com.e1c.edt.ai.ui.commands.addfilestochat.ai">
        </handler>
        <handler
              class="com.e1c.edt.ai.ui.handlers.OpenChatViewHandler"
              commandId="com.e1c.edt.ai.ui.commands.openChatView.ai">
        </handler>
		<handler
				class="com.e1c.edt.ai.ui.handlers.SessionExpirationAIHandler"
				commandId="com.e1c.edt.ai.ui.commands.sessionexpiration.ai">
		</handler>
		<handler
				class="com.e1c.edt.ai.ui.handlers.SessionExpiredStreamAIHandler"
				commandId="com.e1c.edt.ai.ui.commands.sessionexpiredstream.ai">
		</handler>
		<handler
				class="com.e1c.edt.ai.ui.handlers.TokenNotFoundAIHandler"
				commandId="com.e1c.edt.ai.ui.commands.tokennotfound.ai">
		</handler>
        <handler
                class="com.e1c.edt.ai.ui.handlers.StopScenarioAIHandler"
                commandId="com.e1c.edt.ai.ui.commands.stopscenarios.ai">
        </handler>
        <handler
                class="com.e1c.edt.ai.ui.handlers.ServerErrorAIHandler"
                commandId="com.e1c.edt.ai.ui.commands.servererror.ai">
        </handler>
        <handler
                class="com.e1c.edt.ai.ui.handlers.SSLErrorAIHandler"
                commandId="com.e1c.edt.ai.ui.commands.sslerror.ai">
        </handler>

    </extension>

    <extension
            point="org.eclipse.ui.menus">
        <menuContribution
                allPopups="false"
                locationURI="popup:com.e1c.edt.ai.ui.groupMenu?after=additions">
            <command
                  commandId="com.e1c.edt.ai.ui.commands.explain.ai"
                  icon="icons/obj16/explain.png"
                  id="com.e1c.edt.ai.ui.commands.explain.ai.id"
                  label="%command.label.explain"
                  style="push"
                  tooltip="%command.tooltip.explain">
            </command>
            <command
                  commandId="com.e1c.edt.ai.ui.commands.criticise.ai"
                  icon="icons/obj16/criticise.png"
                  id="com.e1c.edt.ai.ui.commands.criticise.ai.id"
                  label="%command.label.critic"
                  style="push"
                  tooltip="%command.tooltip.critic">
            </command>
            <command
                  commandId="com.e1c.edt.ai.ui.commands.fixcode.ai"
                  icon="icons/obj16/fixcode.png"
                  id="com.e1c.edt.ai.ui.commands.fixcode.ai.id"
                  label="%command.label.fixcode"
                  style="push"
                  tooltip="%command.tooltip.fixcode">
            </command>
            <command
                  commandId="com.e1c.edt.ai.ui.commands.generatedoccomments.ai"
                  icon="icons/obj16/generatedoccomments.png"
                  id="com.e1c.edt.ai.ui.commands.generatedoccomments.ai.id"
                  label="%command.label.generatedoccomments"
                  style="push"
                  tooltip="%command.tooltip.generatedoccomments">
            </command>
            <separator
                  name="com.e1c.edt.ai.ui.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.e1c.edt.ai.ui.commands.addcode.ai"
                  icon="icons/obj16/addcode.png"
                  id="com.e1c.edt.ai.ui.commands.addcode.ai.id"
                  label="%command.label.addcode"
                  style="push"
                  tooltip="%command.tooltip.addcode">
            </command>
            <command
                  commandId="com.e1c.edt.ai.ui.commands.addfile.ai"
                  icon="icons/obj16/addfile.png"
                  id="com.e1c.edt.ai.ui.commands.addfile.ai.id"
                  label="%command.label.addfile"
                  style="push"
                  tooltip="%command.tooltip.addfile">
            </command>
            <separator
                  name="com.e1c.edt.ai.ui.separator2"
                  visible="true">
            </separator>
            <command
                    commandId="com.e1c.edt.ai.ui.commands.feedback.ai"
                    icon="icons/obj16/feedback.png"
                    id="com.e1c.edt.ai.ui.commands.feedback.ai.id"
                    label="%command.label.feedback"
                    style="push"
                    tooltip="%command.tooltip.feedback">
            </command>
        </menuContribution>
        <menuContribution
                locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu
                  icon="icons/obj16/ai.png"
                  id="com.e1c.edt.ai.ui.mainMenu"
                  label="AI">
                <separator
                      name="com.e1c.edt.ai.ui.separatorCases"
                      visible="true">
                </separator>
                <menu
                      id="com.e1c.edt.ai.ui.casesMenu"
                      label="Cases">
                    <visibleWhen
                            checkEnabled="false">
                        <test
                              forcePluginActivation="true"
                              property="com.e1c.edt.ai.ui.isTraceMode">
                        </test>
                    </visibleWhen>
			<command
					commandId="com.e1c.edt.ai.ui.commands.sessionexpiration.ai"
					id="com.e1c.edt.ai.ui.commands.sessionexpiration.ai.id"
					label="Session Expiration"
					style="push">
			</command>
			<command
					commandId="com.e1c.edt.ai.ui.commands.sessionexpiredstream.ai"
					id="com.e1c.edt.ai.ui.commands.sessionexpiredstream.ai.id"
					label="Session Expired Stream"
					style="push">
			</command>
			<command
					commandId="com.e1c.edt.ai.ui.commands.tokennotfound.ai"
					id="com.e1c.edt.ai.ui.commands.tokennotfound.ai.id"
					label="Token Not Found"
					style="push">
			</command>
                    <command
                            commandId="com.e1c.edt.ai.ui.commands.servererror.ai"
                            id="com.e1c.edt.ai.ui.commands.servererror.ai.id"
                            label="Server Error"
                            style="push">
                    </command>
                    <command
                            commandId="com.e1c.edt.ai.ui.commands.sslerror.ai"
                            id="com.e1c.edt.ai.ui.commands.sslerror.ai.id"
                            label="SSL Error"
                            style="push">
                    </command>
                    <separator
                            name="com.e1c.edt.ai.ui.separatorStopScenarios"
                            visible="true">
                    </separator>
                    <command
                            commandId="com.e1c.edt.ai.ui.commands.stopscenarios.ai"
                            id="com.e1c.edt.ai.ui.commands.stopscenarios.ai.id"
                            label="Stop Scenarios"
                            style="push">
                    </command>
                </menu>
            </menu>
        </menuContribution>
        <menuContribution
                allPopups="false"
                locationURI="popup:#AbstractTextEditorContext?endof=group.open">
            <menu
                    icon="icons/obj16/ai.png"
                    id="com.e1c.edt.ai.ui.groupMenu"
                    label="%menu.label">
                <separator
                        name="groupMenuSeparator">
                </separator>
            </menu>
        </menuContribution>
        <menuContribution
                allPopups="false"
                locationURI="popup:xtext.embedded.editor">
            <menu
                    id="com.e1c.edt.ai.ui.groupMenu"
                    label="%menu.label">
                <separator
                        name="groupMenuSeparator">
                </separator>
            </menu>
        </menuContribution>
        <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="com.e1c.edt.ai.ui.statusBar">
            <control
                  class="com.e1c.edt.ai.ui.StatusBarControl"
                  id="com.e1c.edt.ai.ui.status">
            </control>
         </toolbar>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="popup:com._1c.g5.v8.dt.navigator.ui.navigator.popup">
           <command
                 commandId="com.e1c.edt.ai.ui.commands.addfilestochat.ai"
                 label="%command.label.addfilestochat"
                 style="push">
           </command>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="toolbar:org.eclipse.ui.main.toolbar">
           <toolbar
                 id="com.e1c.edt.ai.ui.chatView.ai">
              <command
                    commandId="com.e1c.edt.ai.ui.commands.openChatView.ai"
                    icon="icons/obj16/ai.png"
                    label="%command.name.openChatView"
                    style="push"
                    tooltip="%command.name.openChatView">
              </command>
           </toolbar>
        </menuContribution>         
    </extension>

    <extension
            point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
              class="com.e1c.edt.ai.ui.handlers.TraceModePropertyTester"
              id="com.e1c.edt.ai.ui.traceModeTester"
              namespace="com.e1c.edt.ai.ui"
              properties="isTraceMode"
              type="java.lang.Object">
        </propertyTester>
    </extension>

    <extension
            point="org.eclipse.ui.startup">
        <startup
                class="com.e1c.edt.ai.ui.PluginStartup">
        </startup>
    </extension>
    
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
                class="com.e1c.edt.ai.ui.preferences.ClientAIPreferencePage"
                id="com.e1c.edt.ai.ui.clientPrefs"
                name="%page.name">
        </page>
    </extension>

    <extension
            point="org.eclipse.core.runtime.preferences">
        <initializer
                class="com.e1c.edt.ai.ui.preferences.ClientAIPreferencePageInitializer">
        </initializer>
    </extension>
    
    <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <stylesheet
            uri="css/dark/edt-dark_preferencestyle.css">
         <themeid
               refid="org.eclipse.e4.ui.css.theme.e4_dark"></themeid>
      </stylesheet>
   </extension>
    <extension
          point="org.eclipse.xtext.builder.participant">
       <participant
             class="com.e1c.edt.ai.ui.BuildTrackingParticipant">
       </participant>
    </extension>

   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.e1c.edt.ai.ui.handlers.AIMarkerResolutionGenerator"
            markerType="com.e1c.edt.ai.AIError">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.e1c.edt.ai.ui.handlers.AIMarkerResolutionGenerator"
            markerType="com.e1c.edt.ai.AIWarning">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.e1c.edt.ai.ui.handlers.AIMarkerResolutionGenerator"
            markerType="com.e1c.edt.ai.AIInfo">
      </markerResolutionGenerator>
   </extension>

</plugin>
